<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Audio Steganography</title>
    </head>
    <body>
        <div style="text-align: center; margin-top: 20px;">
            <a href="{{ url_for('home.home') }}">
                <button style="padding: 10px 20px; background-color: #3498db; color: white; border: none; border-radius: 5px; font-size: 1rem;">Home</button>
            </a>
        </div>
        
        <h1>Audio Steganography</h1>
        <h2>Hide Your Own Message</h2>
        <p>
            Please enter a message and an audio file in .wav format. The message will be converted into binary
            and hidden within the least significant bits of the audio frames. A new WAV audio file holding the message 
            will be created and available for download. If you compare the original and modified audio, you
            will not be able to tell the difference between the two.
        </p>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="msg">Secret message: </label>
            <input type="text" id="msg" name="message"><br>
            
            <label for="audioUpload">Choose an audio file</label>
            <input type="file" id="hideAudioUpload" name="audio" accept="audio/*">

            <button type="submit" id="hideMessageBtn">Hide message</button>
        </form>

        <div id="result"></div>

        <h2>Reveal A Hidden Message</h2>
        <p>
            Please upload an audio file (.wav) that has a hidden message. This will extract messages hidden within
            WAV files via the least signifcant bit technique.
        </p>
        <form id="revealForm" enctype="multipart/form-data">
            <label for="audio">Choose an audio file</label>
            <input type="file" id="revealAudioUpload" name="audio" accept="audio/*">

            <button type="submit" id="revealMessageBtn">Reveal Message</button>
        </form>

        <div id="messageDisplay"></div>
        
        <script src="{{url_for('static', filename='js/audio_steg_handler.js')}}"></script>

        <script src="{{url_for('static', filename='js/audio_reveal_handler.js')}}"></script>
    </body>
</html>
