<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Steganography Project</title>
        <style>
            h1 {text-align: center;}
            .button-container {
                text-align: center; /* Center the buttons horizontally */
                margin-top: 20px; /* Add some spacing from the content above */
            }
        </style>
    </head>
    <body>
        <h1>Steganography Project</h1>
        <div>
            <h2>Introduction</h2>
            <p>For my senior project, I decided to explore the fascinating subject of 
                steganography. Steganography is a technique used to hide information in 
                plain sight. This was commonly used during World War II for allies to 
                communicate secret messages. During this time, steganography was performed
                through various techniques, including: invisible ink, knitting, and ciphers 
                within written messages. With the rapid evolution of technology, more
                sophisticated methods of steganography have developed. With modern
                technology, we can now hide information within the pixels of a digital
                image, the frames of video and audio files, and even within network packets!
            </p>
            <p>
                In this project, I have implemented steganography using the Least Significant
                Bit technique. This method of steganography hides information within the
                rightmost bit in each binary number of a file. Here, we will be converting a
                text message into binary and hiding it within the least significant bits of
                image and audio files. The new, modified image and audio files holding the
                hidden message will look and sound the same as the original files.
            </p>
        </div>
        <div class="button-container">
            <button onclick="redirect('image')">Image Steganography</button>
            <button onclick="redirect('audio')">Audio Steganography</button>
        </div>

        <script>function redirect(page){window.location.href=`/${page}`};</script>
    </body>
</html>